%body
  .single-container
    .single-header
      %h1
        %a{href: "https://www.mercari.com/jp/"}
          %img{alt:"mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1098098883"}/
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status-fist
          %li
            電話番号認証
            .progress-status
          %li
            住所入力
            .progress-status
          %li
            支払い方法
            .progress-status
          %li
            完了
            .progress-status-last
    .single-main
      .l-single-container
        %h2.l-single-head 会員情報入力
        .l-single-inner
          .l-single-content
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = devise_error_messages!
              .form-group-registration
                = f.label :ニックネーム
                %em (6文字以内)
                %span.form-require 必須
                %br/
                = f.text_field :nickname, autofocus: true, maxlength: "6",class:'input-default', placeholder: "例) メルカリ太郎"
              .form-group-registration
                = f.label :メールアドレス
                %span.form-require 必須
                %br/
                = f.email_field :email,class:'input-default', placeholder: "PC・携帯どちらでも可"
              .form-group-registration
                = f.label :パスワード
                %span.form-require 必須
                - if @validatable
                  %em
                    (#{@minimum_password_length} characters minimum)
                %br/
                = f.password_field :password, autocomplete: "off",class:'input-default', placeholder: "６文字以上"
              .form-group-registration
                = f.label :パスワード（確認）
                %span.form-require 必須
                %br/
                = f.password_field :password_confirmation, autocomplete: "off",class:'input-default', placeholder: "６文字以上"
              .form-group-registration-recapcha
                .g-recaptcha{"data-callback" => "validateRecaptcha", "data-sitekey" => "RECAPTCHA_SITE_KEY "}
              = f.submit "ログイン", class: "signup_btn btn-default btn-red", disabled: "disabled"
      = render 'devise/shared/registration-footer'
