%body
  = render 'items/header'
  %nav#subNav
    %ul.subNavUl
      %li
        %a
          %span メルカリ
        %i.fa.fa-angle-right.icon
      %li
        %a
          %span マイページ
        %i.fa.fa-angle-right.icon
      %li
        %a
          %span.active ログアウト
  %main
    .mypage-container.clearfix
      .l-content
        .l-chapter-container
          %form.l-single-inner{action: "/users/sign_out", :method => "delete", novalidate: "novalidate"}
            .l-single-content
              %button.btn-default.btn-red{type: "submit"} ログアウト
      .mypage-container__side
        = render 'items/sidebar'

  = render 'items/appbarner'
  = render 'items/footer'
  = render 'items/sellBtn'
