%body
  .single-container
    .single-header
      %h1
        =link_to root_path do
          %img{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2960600120"}/
    .single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          = link_to '新規会員登録',new_user_registration_path
        .login-form-inner
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.icon-facebook
            Facebookでログイン
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %i.icon-google-plus
            Googleでログイン
        .login-form-inner
          .form-group
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.email_field :email, autofocus: true, autocomplete: "email",style: ' width: 100%; height: 100%; style="font-size:50px;',placeholder: 'メールアドレス',size: 100
            .field
              = f.password_field :password, autocomplete: "current-password",autocomplete: "password",style: 'width: 100%;height: 100%;',placeholder: 'パスワード'
            .field-login
              = f.submit "ログイン",:class=>"login-submit btn-default btn-red"
            %a.pass-reset{href: "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
  = render 'devise/shared/registration-footer'
