%body
  .single-container
    .single-header
      %h1
        %a{href: "/"}
          %img{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1098098883"}/
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li
            会員情報
            .t-progress-status-fist
          %li.active
            住所入力
            .t-progress-status-3rd
          %li
            支払い方法
            .t-progress-status
          %li
            完了
            .progress-status-last
    .single-main
      .l-single-container
        -if @user.id == current_user.id
          %h2.l-single-head 住所入力
          .l-single-inner
            .l-single-content
              - if @address.errors.any?
                #error_explanation
                  .alert.alert-danger
                    The form contains
                    = pluralize(@address.errors.count, "error")
                  %ul
                    - @address.errors.full_messages.each do |msg|
                      %li= msg
              = form_for [@user,@address] do |f|
                .form-group-registration
                  = f.label :お名前
                  %em (6文字以内)
                  %span.form-require 必須
                  %br/
                  = f.text_field :first_name, autofocus: true,class:'input-default', placeholder: "例) 山田"
                  = f.text_field :last_name, autofocus: true,class:'input-default', placeholder: "例) 彩"
                .form-group-registration
                  = f.label :お名前カナ
                  %span.form-require 必須
                  %br/
                  = f.text_field :first_name_kana,class:'input-default', placeholder: "例） ヤマダ"
                  = f.text_field :last_name_kana,class:'input-default', placeholder: "例） アヤ"
                .form-group-registration
                  = f.label :電話番号
                  %span.form-require 必須
                  %br/
                  = f.text_field :telephone_number,class:'input-default', placeholder: "例） 09012345678 "
                .form-group-registration
                  = f.label :郵便番号
                  %span.form-require 必須
                  %br/
                  = f.text_field :postal_code,class:'input-default', placeholder: "例） 123-4567"
                .form-group-registration
                  = f.label :都道府県
                  %span.form-require 必須
                  %br/
                  = f.select :prefecture, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都県", "京都県"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"], ["秋田県", "秋田県"], ["未定", "未定"]],class:'input-default', placeholder: "例） 東京都"
                .form-group-registration
                  = f.label :市区町村
                  %span.form-require 必須
                  %br/
                  = f.text_field :city,class:'input-default', placeholder: "例） 渋谷区"
                .form-group-registration
                  = f.label :番地
                  %span.form-require 必須
                  %br/
                  = f.text_field :street_number,class:'input-default', placeholder: "例） 道玄坂2丁目23−12 "
                .form-group-registration
                  = f.label :建物名
                  %span.form-optional 任意
                  %br/
                  = f.text_field :building_name,class:'input-default', placeholder: "例） フォンティスビル7F"
                .form-group-registration
                  %button.btn-default.btn-red{type: "submit"}
                    = f.submit "次へ進む",class:'signup_btn'
        -else
    = render 'devise/shared/registration-footer'
