%body
  = render 'single-header'
  %main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力
          = form_for @item, html: {class:'dropzone', id: "item-dropzone"} do |f|
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require 必須
              %p 最大4枚までアップロードできます
              .sell-dropbox-container.clearfix
                .sell-upload-items
                  %ul
                .sell-upload-drop-box
                  .fallback
                    = f.file_field :image_url
                    = f.submit 'upload the image'
                  %pre.visible-pc
                    :preserve
                      ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
            .sell-content
              .form-group
                = f.label :name, "商品名", class: "itemTitleLabel"
                %span.form-require 必須
                = f.text_field :name, placeholder: "商品名（必須 40文字まで）", value:"", class: "input-default"
              .form-group
                = f.label :description, "商品の説明", class: "itemTitleLabel"
                %span.form-require 必須
                = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", value:"", class: "textarea-default"
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  = f.label :L_category_id, "カテゴリー", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :L_category_id, Item.L_category_ids.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                  .select-wrap
                    =f.select :M_category_id, Item.M_category_ids.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                  .select-wrap
                    =f.select :S_category_id, Item.S_category_ids.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  = f.label :size_id, "サイズ", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :size_id, Item.size_ids.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  = f.label :size_id, "ブランド", class: "itemTitleLabel"
                  %span.form-arbitrary 任意
                  .select-wrap
                    =f.select :brand_id, Item.brand_ids.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  = f.label :status, "商品の状態", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :status, Item.statuses.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              %a.form-question{href: "", target: "_blank"}?
              .sell-form-box
                .form-group
                  = f.label :expense, "配送料の負担", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :expense, Item.expenses.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  = f.label :shipping_method, "配送の方法", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :shipping_method, Item.shipping_methods.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  = f.label :prefecture, "発送元の地域", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :prefecture, Item.prefectures.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  = f.label :arrival_date, "発送までの日数", class: "itemTitleLabel"
                  %span.form-require 必須
                  .select-wrap
                    =f.select :arrival_date, Item.arrival_dates.keys.to_a, { prompt: '----'}, {class: "select-default"}
                    = fa_icon 'angle-down', class: 'fa-angle-down'
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              %a.form-question{href: "", target: "_blank"} ?
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      = f.label :price, "価格", class: "itemTitleLabel"
                      %span.form-require 必須
                      #inputPrice.l-right.sell-price-input
                        ¥
                        .sell-form-box-input
                          = f.text_field :price, placeholder: "例）300", value:"", class: "input-default"
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    #handling_charge.l-right -
                  %li.clearfix.bold
                    .profitFee.l-left 販売利益
                    #profitFee.l-right -
            .sell-content.sell-btn-box
              %div
                %p
                  %a{href: "", target: "_blank"} 禁止されている出品
                  、
                  %a{href: "", target: "_blank"} 行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  %a{href: "", target: "_blank"} 偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  %a{href: ""} 加盟店規約
                  に同意したことになります。
              = f.hidden_field :like_count, value:0
              = f.submit'出品する', class: "btn-default btn-red"
              %a.btn-default.btn-gray{:onclick => "history.back()", :type => "button"}  もどる
  = render 'devise/shared/registration-footer'
