%body
  %header.single-header
    %h1
      %a{href: "/"}
        %img{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?582886128"}
  %main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力
          %form.sell-form
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require 必須
              %p 最大4枚までアップロードできます
              .sell-dropbox-container.clearfix
                .sell-upload-items
                  %ul
                .sell-upload-drop-box
                  %input.sell-upload-drop-file{multiple: "multiple", name: "image1", style: "display: none;", type: "file"}
                  %pre.visible-pc
                    :preserve
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
            .sell-content
              .form-group
                %label
                  商品名
                  %span.form-require 必須
                .input-form
                  %input.item-name.input-default{placeholder: "商品名（必須 40文字まで)", value: ""}
              .form-group
                %label
                  商品の説明
                  %span.form-require 必須
                %textarea.textarea-default{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  %label
                    カテゴリー
                    %span.form-require 必須
                  .select-wrap
                    =form_for @item do |f|
                      =f.select :L_category_id, Item.L_category_ids.keys.to_a, { prompt: '----'}, {class: "select-default"}
                      = fa_icon 'angle-down', class: 'fa-angle-down'
                    %i.fas.fa-angle-down
                .form-group
                  %label
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    =form_for @item do |f|
                      =f.select :status, Item.statuses.keys.to_a, { prompt: '----'}, {class: "select-default"}
                      = fa_icon 'angle-down', class: 'fa-angle-down'
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              %a.form-question{href: "", target: "_blank"}?
              .sell-form-box
                .form-group
                  %label
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    =form_for @item do |f|
                      =f.select :expense, Item.expenses.keys.to_a, { prompt: '----'}, {class: "select-default"}
                      = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  %label
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    =form_for @item do |f|
                      =f.select :prefecture, Item.prefectures.keys.to_a, { prompt: '----'}, {class: "select-default"}
                      = fa_icon 'angle-down', class: 'fa-angle-down'
                .form-group
                  %label
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    =form_for @item do |f|
                      =f.select :arrival_date, Item.arrival_dates.keys.to_a, { prompt: '----'}, {class: "select-default"}
                      = fa_icon 'angle-down', class: 'fa-angle-down'
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              %a.form-question{href: "", target: "_blank"} ?
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require 必須
                      #inputPrice.l-right.sell-price-input
                        ¥
                        .sell-form-box-input
                          %input.item-price.input-default{placeholder: "例）300", value: ""}
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right -
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right -
            .sell-content.sell-btn-box
              %div
                %p
                  %a{href: "", target: "_blank"} 禁止されている出品
                  、
                  %a{href: "", target: "_blank"} 行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  %a{href: "", target: "_blank"} 偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  %a{href: ""} 加盟店規約
                  に同意したことになります。
              %button.btn-default.btn-red{type: "submit"}
                出品する
              %a.btn-default.btn-gray もどる
